@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
 font-family: 'Roboto', 'sans-serif';
    height: 100vh;
    background-color: #FFF8D3;
}

.banner__fruit {
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
}

.banner__fruit--gradient {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40vh;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#ffffff", GradientType=1);
}

.banner__title {
    font-family: 'Great Vibes', cursive;
    font-size: 64px;
    color: #FFD600;
}

.banner__fruit--push {
    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 17px;
    right: 8px;
    left: 8px;

    background-color: white;
    border-radius: 25px;
    padding: 4px;
}

.banner__fruit--push input {
    outline: none;
    border: 0;
    border-radius: 25px;
    margin-left: 8px;
    width: auto;
}

.banner__fruit--push button {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border: 0;
    border-radius: 25px;
    background-color: #FFA500;
    outline: none;
}
.banner__fruit--push button:hover {
    background-color: #d98f00;
}
/*
    bar decoration
*/
.bar__decoration--orange {
    position: relative;
    height: 16px;
    background-color: #FFB700;
}
.bar__decoration--orange2 {
    height: 16px;
    background-color: #FE6802;
}

/*
    shadow
*/
.shadow {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*
   fruit list
*/

.content__fruit{
    margin-top: 8px;
    padding: 10px;
}

.card__fruit {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 16px;
    padding: 8px;
    border: 0;
    border-radius: 4px;
}

.card__fruit--image {
    background-color: white;
    height: 40px;
    width: 40px;
    border: 0;
    border-radius: 25px;
}

.card__fruit--text {
    display: grid;
    margin-left: 32px;
}

.card__fruit--name {
    font-family: 'Lobster', 'cursive';
    color: white;
    font-size: 24px;
}

.card__fruit--exhausted {
    background-color: #FF71A9;
}
.card__fruit--exhausted small{
    color: #DF2765;
}

.card__fruit--available {
    background-color: #A8E355;
}
.card__fruit--available small{
    color: #02A27A;
}
