<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Fruits List</title>
</head>
<body>
<div id="app">
    <header class="banner__fruit">
        <div class="banner__fruit--gradient">
            <h1 class="banner__title">
                {{title}}
            </h1>
            <div class="banner__fruit--push">
                <input type="text" v-model="fruitNew" placeholder="Agrega una fruta">
                <button v-on:click="addFruit">+</button>
            </div>
        </div>
    </header>
    <div class="bar__decoration--orange shadow"></div>
    <div class="bar__decoration--orange2 shadow"></div>
    <section class="content__fruit">
        <ul>
            <li v-for="fruit in fruits" v-bind:key="fruit.id"
                class="card__fruit shadow"
                v-bind:class="fruit.size===0 ? 'card__fruit--exhausted': 'card__fruit--available'"
            >
                <div class="card__fruit--image"></div>
                <div class="card__fruit--text">
                    <p class="card__fruit--name">{{ fruit.name }}</p>
                    <small v-if="fruit.size === 0">No disponible</small>
                    <small v-else>Disponible</small>
                </div>

            </li>
        </ul>
    </section>
</div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>
